.sk-button {
  padding: 1em 2em;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  background: #68ce85;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.sk-button:disabled {
  background: #b0b0b0;
  cursor: not-allowed;
}

.sk-button:hover:not(:disabled) {
  background: #57b76c;
}
